{% extends 'base.html' %}

{% block conteudo %}

<body>
<div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    {% block bread %}
                    {% endblock bread %}
                </li>
            </ol>
            <div class="row">
                <div class="col-12">
                    {% block pages %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-user"></i><B> Alunos</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                    <h1 class="card-title">0</h1>
                                    <h3 class="card-subtitle mb-2 text-muted">Alunos</h3><br>
                                    <a class="btn btn-success btn-sm" href="{% url 'alunos:listar_alunos' %}"><i class="fa fa-plus"></i><span> Cadastrar</span></a>
                                    <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-book"></i><B> Livros</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title">0</h1>
                                        <h3 class="card-subtitle mb-2 text-muted">Livros</h3><br>
                                        <a class="btn btn-success btn-sm" href="{% url 'livros:listar_livros' %}"><i class="fa fa-plus"></i><span> Cadastrar</span></a>
                                        <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-calendar"></i><B> Empréstimos</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title">0</h1>
                                        <h3 class="card-subtitle mb-2 text-muted">Empréstimos</h3><br>
                                        <a class="btn btn-success btn-sm" href="{% url 'emprestimos:listar_emprestimos' %}"><i class="fa fa-plus"></i><span> Agendar</span></a>
                                        <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock pages %}
                </div>
            </div>
        </div>

    </div>
</body>
{% endblock conteudo %}